<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="carprofile" translate="label" sortOrder="300">
            <label>Car Profile</label>
        </tab>
        <section id="carprofile_config" translate="label" type="text" sortOrder="1009" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General Settings</label>
            <tab>carprofile</tab>
            <resource>Razoyo_CarProfile::config</resource>
            <group id="active" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Car Profile</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
